
$primary : #266ebf;

@import 'bootstrap/scss/bootstrap';

body{
    background-color: #d8dfea;
    color: rgb(53, 49, 49);
}

a{
    color: white;
    text-decoration: none;
}
.menu{
    width: 100%;
    background-color: #7178df;
    color: white;
}

.fondo{
    background-color:#b6b9ee;
    border-radius: 25px;
}

.clase_table {
    border-collapse: separate;
    border-spacing: 10;
    border: 1px solid black;
    background-color: #7178df;
    border-radius: 15px;
    -moz-border-radius: 20px;
    padding: 2px;
}

.lista-registros{
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: #a85ba0;
    border-radius: 25px;
}

.tabla-registros tr th{
    padding: 15px;
    background-color: #7178df;
    color: white;
}
.cabecera-tabla tr th{
    padding: 15px;
    background-color: #7178df;
    color: white;
}

.cant{
    width: 55px;
}
.precios{
    width: 110px;

}

.boton{
    width: 140px;
}

.nav-item:hover{
    background-color: #8087e4;

}
.pgActual{
    background-color: #9094d5;

}

