@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.nav {
    background: #1b1f22;
    font-size: 1rem;
}

body{
    background: #37393a;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    flex-wrap: wrap;
}

.cards{
    height: 300px;
    width: 300px;
    margin: 10px;
    transition: 300ms;

}

.personaje, .personaje_2, .personaje_3, .personaje_4, .personaje_5, .personaje_6, .personaje_7{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #686767;
    transition: 300ms;
    position: relative;
}

.imagen_personaje{
    height: 190px;
    width: 190px;
    background-image: url(../img/digital-key.png);
    background-size: cover;
    margin-bottom: 205px;

}

.imagen_personaje_2{
    height: 140px;
    width: 140px;
    background-image: url(../img/financial-advisor.png);
    background-size: cover;
    margin-bottom: 200px;
}

.imagen_personaje_3{
    height: 140px;
    width: 140px;
    background-image: url(../img/board-of-directors.png);
    background-size: cover;
    margin-bottom: 200px;
}

.imagen_personaje_4{
    height: 140px;
    width: 140px;
    background-image: url(../img/invoice.png);
    background-size: cover;
    margin-bottom: 200px;
}

.imagen_personaje_5{
    height: 140px;
    width: 140px;
    background-image: url(../img/idea.png);
    background-size: cover;
    margin-bottom: 200px;
}

.imagen_personaje_6{
    height: 140px;
    width: 140px;
    background-image: url(../img/invalid-vote.png);
    background-size: cover;
    margin-bottom: 200px;
}

.imagen_personaje_7{
    height: 140px;
    width: 140px;
    background-image: url(../img/send.png);
    background-size: cover;
    margin-bottom: 200px;
}

.detalle, .detalle_2, .detalle_3, .detalle_4, .detalle_5, .detalle_6, .detalle_7{
    height: 200px;
    width: 300px;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 150px;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: 300ms;
}

/* texto y bottun */

.detalle h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
}

.detalle_2 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
}

.detalle_3 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
}

.detalle_4 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
}

.detalle_5 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
}

.detalle_6 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
}

.detalle_7 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    text-align: center;
}

.boton h6{
    text-align: center;
    font-weight: 100;
    font-size: 20px;
}

.boton {
    width: 100px;
    margin: auto;
    margin-top: 1rem;
    cursor: pointer;
    background: #585858;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;

    color: #ffffff;
    padding: 15px 10px 10px 10px;
    text-decoration: none;
}

.boton:hover {
    background: #d43030;
    text-decoration: none;
}

.token-btn{
    margin-top: 2rem;
}

.tabla-tok{
    margin-top: 5rem;
    color: black;
    overflow: none;
}

.tabla-tok thead{
    font-size: 1.3rem;
}

.tabla-tok textarea{
    border: 0.1rem solid black;
}

.title-em{
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.tabla-em{
    overflow: none;
    margin-top: 5rem;
    border-radius: 40% !important;
    margin-left: -2rem;
    text-transform: none !important;
}

.tabla-rec{
    overflow: none;
    margin-top: 5rem;
    border-radius: 40% !important;
    text-transform: none !important;
}

.tabla-rec thead{
    font-size: 1.2rem;
    color: white;
}

.tabla-rec tbody{
    font-size: 1rem;
}

.asd, .ase input[type="email"]{
    text-transform: none;
}

input[type="email"]{
    text-transform: none;
}

.tabla-em thead{
    font-size: 1rem;
    color: white;
}

.form input{
    border: 0.1rem solid black;
}

.form textarea{
    border: 0.1rem solid black;
}

.form select{
    border: 0.1rem solid black;
}

.form option{
    border: 0.1rem solid black;
}

.btn-editEm{
    cursor: pointer;
}

.btn-deleteEm{
    cursor: pointer;
}

.form-editEm{
    text-align: left;
}

.form-editEm input{
    border: 0.1rem solid black;
}

.form-editEm textarea{
    border: 0.1rem solid black;
}

.form-editEm select{
    border: 0.1rem solid black;
}

.form-editEm option{
    border: 0.1rem solid black;
}

.modal-emi{
    text-align: left;
}

.tabla-docs{
    margin-top: 2rem;
}

.tabla-docs thead{
    font-size: 1rem;
}


.title-doc{
    margin-top: 7rem;
    font-size: 2rem;
    color: white;
}

.title-dte{
    margin-top: 4rem;
    font-size: 2rem;
    color: white;
}

.factura-cont{
    margin-top: 4rem;
}

.title-apike{
    font-size: 2rem;
    color: white;
}

.form-control-email input[type="email"]{
    text-transform: none;
}
